<script>

#flash-card {

}

.face {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 45px;
}

.back {
    background-color: #F5F5F5;
}

.flip {
    margin-left: 100px;
    margin-right: 100px;
    border: 1px;
    border-style: solid;
}

#flip-help-text {
    text-align: center;
    font-size: 11px;
    position: inline;
    padding-left: 150px;
    padding-right: 150px;
}

#left-arrow {
    position:inline;
    float: left;
    font-size: 25px;
    padding-top: 5px;
}

#right-arrow {
    float: right;
    font-size: 25px;
    padding-top: 5px;

}

</script>