<style>
#nav-override {
    padding-bottom: 20px;
}

h1.page-header {
    padding-top: 20px;
}

div.sidebar.col-xs-2 {
    padding-top: 110px;
}

#right-side-bar {
    width: 180px;
    background-color: #F0F0F0;
    border-radius: 15px;
}

.errMsg {
    color: red;
}

small.last-modified-text {
    font-size: 9px;
    color: red;
}

h4.h4 {
    font-size: 15px;
}

span.glyphicon.glyphicon-arrow-down {
    padding-left: 50px;
}

button.sign-up.btn.btn-primary {
    margin-left: 5px;
    margin-top: 5px;
}

div.examples {
    padding-top: 30px;
    font-size: 12px;
}

span.glyphicon.glyphicon-chevron-down {
    font-size: 10px;
}

li.hover ul {
    list-style: none;
    margin-right: 20px;
}

.form-control {
    width: 256px;
}

.add-input.glyphicon.glyphicon-plus {
    font-size:20px;
    padding-left: 5px;
}

span.delete-input.glyphicon.glyphicon-minus {
    font-size:20px;
    padding-left: 6px;
}

.left{
  float:left;
  margin: 5px;
  width: 325px;
}

.right {
  margin: 5px;
  width: 325px;
}

.clear{
  clear:both;
}

.isCorrect {
    color: green;
}

.isNotCorrect {
    color: red;
}

.correct-answer-results {
    font-style: italic;
    top-padding: 10px;
}

.question-view-format {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.edit-view-format {
    margin-top: 30px;
    position: relative;
}

.col-md-9.well {
    height: 72px;
}

div#question-border{
    margin: 9px;
    padding: 9px;
    overflow: hidden;
    height: 40px;
    border-width: 1px;
    border-style: solid;
}

a#edit-question-button {
    padding-left: 30px;
}

#difficulty-edit {
    padding-left: 110px;
}

.input-error {
    color: red;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.glyphicon.glyphicon-stats {
    padding-right: 7px;
}

.side-bar-title {
    text-decoration: underline;
}

.center {
    text-align: center;
}
</style>