{% extends 'base.html' %}
{% block content %}
{% if the_class_sets %}
<script src="/js/addClass.js"></script>
<script src="/js/viewingOtherUsersClass.js"></script>
    <div class="container-fluid">
    {% for s in the_class_sets %}
        <div class="row well">
            <div class="col-md-4">
                <span>{{s.name}}</span>
            </div>
            <div class="col-md-4">
                <span class="description-text">{{s.description}}</span>
            </div>
            <div class="col-md-4">
                <small class="last-modified-text">Last Modified: {{s.last_updated}}</small>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<span>There are no sets in this class</span>
{% endif %}
{% endblock %}