{% extends 'base.html' %}
{% block content %}
<div>
    {% if classes %}
    <div class="container col-md-12">
        {% for c in classes %}
        <div class="row well">
            <div class="col-md-4"><a href="/{{current_user.username}}/{{c.name}}">{{c.name}}</a></div>
            <div class="col-md-4">{{c.instructor}} - ({{c.year}})</div>
            <div class="col-md-4"><span class="glyphicon glyphicon-education"></span> {{c.school.name}}</div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <span>You don't have any classes yet</span>
    {% endif %}

</div>

{% endblock %}