{% extends 'base.html' %}
{% block content %}
<div>
    {% if classes %}
    <table class="table borderless">
        {% for c in classes %}
        <tr class="table-padding well">
            <td><a href="/{{current_user.username}}/{{c.name}}">{{c.name}}</a></td>
            <td>{{c.instructor}} - ({{c.year}})</td>
            <td><span class="glyphicon glyphicon-education"></span> {{c.school.name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <span>You don't have any classes yet</span>
    {% endif %}

</div>

{% endblock %}