
<html>
    <body>
        <head>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.1.2/jquery.flip.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/flashcard.css">
        </head>
        <a href="/{{current_user.username}}/{{class_obj.name}}/{{set_obj.name}}/flash-cards" hidden="hidden" id="questionsLink"></a>
        <div class="flip">
            <div class="card" id="flash-card">
                <div id="front" class="face front">

                </div>
                <div id="back" class="face back">

                </div>
            </div>
        </div>
        <div>
            <a href="#"><span id="left-arrow" class="glyphicon glyphicon-chevron-left hover"></span></a>
            <a href="#"><span id="right-arrow" class="glyphicon glyphicon-chevron-right hover"></span></a>
        </div>
        <div id="flip-help-text">
            Hover Over To See The Answer
        </div>
        <script type="text/javascript" src="/js/flashCard.js"></script>
    </body>
</html>