{% extends 'base.html' %}
{% block content %}
<div class="row">

    <div class="col-md-4 well left">
        <label class="index-class-header">
            Most Recent Classes
        </label>
        <ul>
        {% if user_classes %}
            {% for c in user_classes %}
            <li><a href="/{{current_user.username}}/{{c.name}}">{{c.name}}</a></li>
            {% endfor %}
        {% else %}
            <p class="danger">You Should Create or Add Classes!</p>
         {% endif %}
        </ul>

    </div>
    <div class="col-md-4 well right">
        <label class="index-class-header">
            Explore
        </label>
        <ul>
        {% if the_classes %}
            {% for c in the_classes %}
            <li><a href="/{{c.user_creator.username}}/{{c.name}}">{{c.name}}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}